<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Practica 2</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/page/img/fav.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="~/page/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/page/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/page/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/page/css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="~/page/css/nivo-lightbox/default.css">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300'>
    <script type="text/javascript" src="~/page/js/modernizr.custom.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

          

</head>
<body id="page-top" data-target=".navbar-fixed-top">

    @RenderBody()

    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-play fa-code"></i> Práctica 2</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Home") class="page-scroll">Home</a></li>
                    <li><a href="@Url.Action("RegistrarVendedor", "Home")" class="page-scroll">Registrar Vendedor </a></li>
                    <li><a href="#portfolio" class="page-scroll">Vehiculos</a></li>
                    <li><a href="#contact" class="page-scroll">Contact</a></li>
                </ul>
            </div>
        </div>

    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="intro-text">



                    </div>
                </div>
            </div>
        </div>
    </header>
   
    <div id="footer">
        <div class="container text-center">
            <div class="fnav">
                <p>Universidad Fidélitas: Daniel Forrester II Cuatrimestre, 2024 </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/page/js/jquery.1.11.1.js"></script>
    <script type="text/javascript" src="~/page/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/page/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="~/page/js/nivo-lightbox.js"></script>
    <script type="text/javascript" src="~/page/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="~/page/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="~/page/js/contact_me.js"></script>
    <script type="text/javascript" src="~/page/js/main.js"></script>
</body>
</html>